@charset "utf-8";
/* CSS Document */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	font:inherit;
	font-size:100%;
	vertical-align:baseline;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
html {
	line-height:1;
}
ol, ul {
	list-style:none;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
caption, th, td {
	text-align:left;
	font-weight:normal;
	vertical-align:middle;
}
q, blockquote {
	quotes:none;
}
q:before, q:after, blockquote:before, blockquote:after {
	content:"";
	content:none;
}
a img {
	border:none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
	display:block;
}
#AMtopstrip {
	width:auto;
	height:52px;
	background:url(../images/top_strip1px.png) repeat-x top;
	padding: 10px 0 0 55px;
}
body {
	background:#eaeae9;
	font-size: 12px;
}
#logo {
	/*background:url(../images/Logo_Wpromote.png) no-repeat top right;*/
	display:block;
	float:right;
	padding-right:70px;/*padding: 10px 10px 10px 0;*/
	
	}
#wrapper {
	margin:20px;
	padding:20px;
	width:auto;
	height:auto;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background:#FFF;
}
h1 {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:20px;
	font-weight:bold;
	width:auto;
	padding: 15px 0 15px 40px;
	color:#FFF;
	margin: 0 15px 0 15px;
	background:#013844;
	background-image: linear-gradient(bottom, rgb(4,72,87) 8%, rgb(0,50,60) 74%);
	background-image: -o-linear-gradient(bottom, rgb(4,72,87) 8%, rgb(0,50,60) 74%);
	background-image: -moz-linear-gradient(bottom, rgb(4,72,87) 8%, rgb(0,50,60) 74%);
	background-image: -webkit-linear-gradient(bottom, rgb(4,72,87) 8%, rgb(0,50,60) 74%);
	background-image: -ms-linear-gradient(bottom, rgb(4,72,87) 8%, rgb(0,50,60) 74%);
	background-image: -webkit-gradient(  linear,  left bottom,  left top,  color-stop(0.08, rgb(4,72,87)),  color-stop(0.74, rgb(0,50,60)) );
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
#bredcrumbs {
	padding: 10px 0 10px 50px;
	font-size:11px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	color:#333;
}
#DateParaBox {
	margin:5px 20px 20px 20px;
	padding: 10px 50px 10px 35px;
	width:auto;
	height:auto;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: #f6f6f6;
    border: solid 1px rgb(204, 204, 204);
}
#mainDataContainer {
	margin:20px;
	padding: 15px 35px 15px 35px;
	width:auto;
	height:auto;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background:#e0edee;
	border: solid 1px #b3b3b3;
}
#formHead {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#476f94;
	font-weight:bold;
	margin-bottom:15px;
	float:left;
	width:100%;
	padding-top:15px;
	padding-bottom: 8px;
	border-bottom: 1px solid #999;
}
table.mytab {
	background:#f6f6f6;
	width:50%;
	}
table.mytab td{
	background:#f6f6f6;
	border: 0px;
	font-size:14px;
	font-weight:bold;
	
	}
table.mytab2 {
	background:#f6f6f6;
	width:80%;
	}
table.mytab2 td{
	background:#f6f6f6;
	border: 0px;
	font-size:14px;
	font-weight:bold;
	
	}
/*---------------------------Form Elements-------------------------*/

#login {
	padding:40px;
	width:410px;
	margin: 0 auto;
}

#formBox{
	Padding: 20px;
	width:90%;
	margin: 0 auto;
		
	}
#buttonS{
	padding: 25px 0 15px 0px;
	
	}
.name_l {
	display:block;
	width:200px;
	float:left;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	/*padding-top:5px;*/
}
.name_l a {
	font-size:11px;
	font-weight:normal;
	text-decoration:none;
	color:#333;
}
.name_l a:hover {
	text-decoration:none;
	color:#900;
}
.input_l {
	display:block;
	width:250px;
	float:left;
}

/* ----------------------------------------------  Reset form elements ---------------------------------------------- */

	input, select, textarea {
		margin:0; padding:0; font-size:1em; outline:none;
		font-family:inherit;	
		margin-bottom:4px;
		-moz-box-sizing:border-box; /* Firefox */
		-webkit-box-sizing:border-box; /* Safari */
		box-sizing:border-box;}

/* ----------------------------------------------  Inputs, textareas and selects  ---------------------------------------------- */


	input[type="text"], textarea, select, div.styled, input[type="file"] {  
		width:17em; border-radius:4px; border: solid 1px #ccc; padding:0.5em 0 0 0.4em;}
	
	div.styled, select, input[type="submit"], input[type="button"], 
	input[type="file"]:after {
		background:white url(../images/formelements-select.png)no-repeat top right;
		-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2); 
		box-shadow: 0 1px 3px rgba(0,0,0,0.2);}	
	
	input[type="text"], textarea, input[type="file"] { 
		background-color: #fff;
		-webkit-box-shadow: inset 0 2px 3px rgba(0,0,0,0.2);
		box-shadow: inset 0 2px 3px rgba(0,0,0,0.2);}
	
		.ie9 input[type="text"] { line-height:normal; } /* Get the stuff to line up right */
	
	textarea { width:100%; height:10em; }
	
/* ----------------------------------------------  Select menu  ---------------------------------------------- */
	
	/* For IE and Firefox */

	div.styled { overflow:hidden; padding:0; margin:0 0 0.5em; }
		
		.ie7 div.styled {border:none;}

	div.styled select {	
		width:100%; background-color:transparent; background-image:none;
		-webkit-appearance: none; border:none; box-shadow:none;
		}
		
		.ie7 div.styled select {
			width:100%; background-color:#fff; border: solid 1px #ccc; 
			padding:0.3em 0.5em;}	
	
/* ----------------------------------------------  File field  ----------------------------------------------  */

	/* Webkit Only */
	
	input[type="file"] { 
		position: relative; 
		-webkit-appearance: none;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;	width: 50%;	padding:0;}
		
	input[type=file]::-webkit-file-upload-button {
		width: 0; padding: 0; margin: 0;-webkit-appearance: none; border: none;}	
		
	input[type="file"]:after {
		content: 'Upload File';
		margin:0 0 0 0.5em;
		display: inline-block; left: 100%; position: relative;
		background:white url(../images/formelements.png) no-repeat center left;
		padding:0.3em 0.5em; border: solid 1px #ccc !important;
		-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2); 
		box-shadow: 0 1px 3px rgba(0,0,0,0.2);
		border-radius:4px;}	
		
		
		input[type="file"]:active:after {box-shadow:none;}
	
	
/* ----------------------------------------------  Checkboxes and Radio inputs  ----------------------------------------------  */	
		
	input[type="radio"], 
	input[type="checkbox"] { position: absolute; left: -999em; }
		
	label:before { 
		display: inline-block; position: relative; top:0.25em; left:-2px; 
		content:''; width:25px; height:25px;
		background-image:url(../images/formelements.png); }
	
	input[type="checkbox"] + label:before { background-position: 0 -25px;}
	input[type="checkbox"]:checked + label:before {background-position: 0 0 ; }
		 
	input[type="radio"] + label:before { background-position: -25px -25px;}	 	
	input[type="radio"]:checked + label:before { background-position: -25px 0;}
	
		/* Remove the custom styling for IE 7-8 */
		
		.ie8 label:before { display:none; content:none; }
		
		.ie8 input[type="checkbox"],
		.ie8 input[type="radio"],
		.ie7 input[type="checkbox"],
		.ie7 input[type="radio"]{ 
			position: static; left:0; }
		
		.ie8 input[type="checkbox"],
		.ie8 input[type="radio"] { 
			position:relative; top:5px; margin-right:0.5em;}	
			
	input[type="text"]:focus, textarea:focus {
		border-color:#000;
		}

/* ---------------------------------------------- Form Submit and Next buttons ---------------------------------------------- */	

	input[type="submit"], 
	input[type="button"] { 
		padding:0.5em 1em; line-height:1em; cursor:pointer;
		border-radius:4px; color:#000; font-weight:bold; font-size:inherit;
		background:#069;
		color:#FFF;
		border:solid 1px #000;	box-shadow:0 1px 5px rgba(0,0,0,0.2);
		background-position: center bottom;}
		
		/* Gradient Generator by : http://www.colorzilla.com/gradient-editor/ */
		
	input[type="submit"]:active, 
	input[type="button"]:active {-webkit-box-shadow: none; box-shadow:none;}
		
		/* IE7 needs you to change the background to transparent when using image background for submit buttons */	

/*----------------------------------------------  Media Queries ----------------------------------------------  */
		
	@media screen and (max-width: 600px) { 
		body { width:80%; font-size:15px; } 
	}/* end of query */

	@media screen and (max-width: 400px) { 
		input[type="text"], textarea, select, div.styled { width:100% } 
	}/* end of query */		
/*-----------------DatePicker----------------------------*/
		
.datepick {
	background-color: #fff;
	color: #000;
	border: 1px solid #0091b5;
	border-radius: 0.25em;
	-moz-border-radius: 0.25em;
	-webkit-border-radius: 0.25em;
	font-family: Arial, Helvetica, Sans-serif;
	font-size: 90%;
	width:400px;
}
.datepick-rtl {
	direction: rtl;
}
.datepick-popup {
	z-index: 1000;
}
.datepick a {
	color: #fff;
	text-decoration: none;
}
.datepick button {
	margin: 0.25em;
	padding: 0.125em 0em;
	background-color: #fcc;
	border: none;
	border-radius: 0.25em;
	-moz-border-radius: 0.25em;
	-webkit-border-radius: 0.25em;
	font-weight: bold;
}
.datepick-nav, .datepick-ctrl {
	float: left;
	width: 100%;
	background-color: #0091b5;
	color: #fff;
	font-size: 90%;
	font-weight: bold;
}
.datepick-ctrl {
	background-color: #006579;
}
.datepick-cmd {
	width: 30%;
}
.datepick-cmd:hover {
	background-color: #777;
}
.datepick-ctrl .datepick-cmd:hover {
	background-color: #f08080;
}
.datepick-cmd-prevJump, .datepick-cmd-nextJump {
	width: 8%;
}
a.datepick-cmd {
	height: 1.5em;
}
button.datepick-cmd {
	text-align: center;
}
.datepick-cmd-prev, .datepick-cmd-prevJump, .datepick-cmd-clear {
	float: left;
	padding-left: 2%;
	padding-top:5px;
}
.datepick-cmd-current, .datepick-cmd-today {
	float: left;
	width: 35%;
	text-align: center;
	padding-top:5px;
}
.datepick-cmd-next, .datepick-cmd-nextJump, .datepick-cmd-close {
	float: right;
	padding-right: 2%;
	text-align: right;
	padding-top:5px;
}
.datepick-rtl .datepick-cmd-prev, .datepick-rtl .datepick-cmd-prevJump, .datepick-rtl .datepick-cmd-clear {
	float: right;
	padding-left: 0%;
	padding-right: 2%;
	text-align: right;
	padding-top:5px;
}
.datepick-rtl .datepick-cmd-current, .datepick-rtl .datepick-cmd-today {
	float: right;
}
.datepick-rtl .datepick-cmd-next, .datepick-rtl .datepick-cmd-nextJump, .datepick-rtl .datepick-cmd-close {
	float: left;
	padding-left: 2%;
	padding-right: 0%;
	text-align: left;
	padding-top:5px;
}
.datepick-month-nav {
	float: left;
	background-color: #777;
	text-align: center;
}
.datepick-month-nav div {
	float: left;
	width: 12.5%;
	margin: 1%;
	padding: 1%;
}
.datepick-month-nav span {
	color: #888;
}
.datepick-month-row {
	clear: left;
}
.datepick-month {
	float: left;
	width: 16em;
	border: 1px solid #2e425f;
	text-align: center;
}
.datepick-month-header, .datepick-month-header select, .datepick-month-header input {
	height: 1.5em;
	background-color: #8C8D8E;
	color: #fff;
	font-weight: bold;
}
.datepick-month-header select, .datepick-month-header input {
	height: 1.4em;
	border: none;
	width:80px;
	padding:0;
	
	background:#666;
	font-size: 100%;
}
.datepick-month-header input {
	position: absolute;
	display: none;
}
.datepick-month table {
	width: 100%;
	border-collapse: collapse;
}
.datepick-month thead {
	border-bottom: 1px solid #aaa;
}
.datepick-month th, .datepick-month td {
	margin: 0em;
	padding: 0em;
	font-weight: normal;
	text-align: center;
}
.datepick-month th {
	border: 1px solid #777;
}
.datepick-month th, .datepick-month th a {
	background-color: #00323C;
	color: #000;
}
.datepick-month td {
	background-color: #eee;
	border: 1px solid #aaa;
}
.datepick-month td.datepick-week {
	border: 1px solid #777;
}
.datepick-month td.datepick-week * {
	background-color: #777;
	color: #fff;
	border: none;
}
.datepick-month a {
	display: block;
	width: 100%;
	padding: 0.125em 0em;
	background-color: #eee;
	color: #000;
	text-decoration: none;
}
.datepick-month span {
	display: block;
	width: 100%;
	padding: 0.125em 0em;
}
.datepick-month td span {
	color: #888;
}
.datepick-month td .datepick-other-month {
	background-color: #fff;
}
.datepick-month td .datepick-weekend {
	background-color: #ddd;
}
.datepick-month td .datepick-today {
	background-color: #96b6d2;
}
.datepick-month td .datepick-highlight {
	background-color: #569edf;
}
.datepick-month td .datepick-selected {
	background-color: #777;
	color: #fff;
}
.datepick-month th.datepick-week {
	background-color: #777;
	color: #fff;
}
.datepick-status {
	clear: both;
	background-color: #ddd;
	text-align: center;
}
.datepick-clear-fix {
	clear: both;
}
/*-----------------------------Dropdown-----------------------------*/
#clear {
	clear:both;
}
#wrap {
	font-size: .9em;
	/*width: 500px;*/
	/*padding: 20px;*/
	margin-bottom: 1px;
	/*background-color: #fff;*/
	position: relative;
	float:right;
}
/* These styles create the dropdown menus. */
#navbar {
	padding: 0;
	height: 1.1em;
}
#navbar li {
	list-style: none;
	float: left;
}
#navbar li.drop {
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-left: solid 1px #999;
	border-right: solid 1px #999;
	border-top: solid 1px #999;
	background: #e2e2e2; /* Old browsers *//* IE9 SVG, needs conditional override of 'filter' to 'none' */


}
#navbar li a {
	display: block;
	padding: 5px 9px 5px 9px;
	text-align:center;
	/*background-color: #5e8ce9;*/
	color: #be2036;
	text-decoration: none;
	margin-left:0px;
}
#navbar li ul {
	display: none;
	width: auto; /* Width to help Opera out */
	background-color: #ddd1b3;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border: 1px solid #999;
}
#navbar li:hover ul, #navbar li.hover ul {
	display: block;
	position: absolute;
	margin-left:0px;
	padding: 0;
	/*border-left: 1px solid #5d99ae;*/
	border-bottom: 1px solid #9e9c9c;
}
#navbar li:hover li, #navbar li.hover li {
	float: none;
}
#navbar li:hover li a, #navbar li.hover li a {
	background: #e2e2e2; /* Old browsers */
	width:34px;
	/*border: 1px solid #999;*/
	color: #000;
	font-size: 1em;
	font-weight:bold;
}
#navbar li li a:hover {
	background-color: #8db3ff;
	/*width:50px;*/
	margin-left:0px;
}
#searchBox1 {
	float:left;
	padding:5px;
}
#searchBox2 {
	float:left;
	padding:5px;
}
/*---------------------Reports Table---------------------------------*/

#container {
	width: auto;
	overflow: auto;
	max-height: 600px;
	border:#999 1px thin;
}
/*

Table

*/



table {
	width: 100%;
	margin:0;
	padding:0;
	font-family: "Trebuchet MS", Trebuchet, Arial, sans-serif;
	color: #1c5d79;
}
table, tr, th, td {
	border-collapse: collapse;
}
/* HEAD */



thead {
	background-color: #FFFFFF;
	border: none;
	border: solid 1px #9e9c9c;
}
thead tr th {
	/*height: 50px;*/
	line-height: 28px;
	text-align: center;
	color: #3a3a3a;
	font-size:12px;
	font-weight:bold;
	/*background-image:url(../images/table-bg-head.png); */
	background: #e4f2e7; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U0ZjJlNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiZWRiYzYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #e4f2e7 0%, #bedbc6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e4f2e7), color-stop(100%, #bedbc6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e4f2e7 0%, #bedbc6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e4f2e7 0%, #bedbc6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e4f2e7 0%, #bedbc6 100%); /* IE10+ */
	background: linear-gradient(to bottom, #e4f2e7 0%, #bedbc6 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f2e7', endColorstr='#bedbc6', GradientType=0 ); /* IE6-8 */
	background-repeat: repeat-x;
	border-left:solid 1px #9e9c9c;
	border-right:solid 1px #9e9c9c;
	border-top: solid 1px #9e9c9c;/*border-collapse: collapse;*/
}
/* BODY */



tbody tr {
	background: #ecf0f2;
	font-size: 11px;
}
tbody tr.odd {
	background: #f2f6f7;
}
tbody th.odd {
	background: #fcf1dd;
}
tbody tr:hover, tbody tr.odd:hover {
	background: #ffffff;
}
tbody tr th, tbody tr td {
	padding: 6px;
	border: solid 1px #9e9c9c;
}
tbody tr th {
	background: #f7e2b7;
	font-family: "Trebuchet MS", Trebuchet, Arial, sans-serif;
	font-size: 11px;
	padding: 6px;
	text-align: center;
	font-weight: bold;
	color: #FFFFFF;
	border: solid 1px #cfb04d;
}
tbody tr th:hover {
	background: #ffffff;
}
/* LINKS */



table a {
	color: #333;
	text-decoration: none;
	font-size: 11px;
	text-align:left;/*border-bottom: solid 1px #5d99ae;*/
}
table a:hover {
	color: #be2036;
	border-bottom: none;
}
/* FOOTER */



tfoot {
	background: #f3f3f3;
	height: 24px;
	line-height: 24px;
	font-family: "Trebuchet MS", Trebuchet, Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #555d6d;
	text-align: center;
	letter-spacing: 3px;
	border-top: solid 1px #9e9c9c;
	border-bottom: dashed 1px #c2c2c2;
}
tfoot tr th, tfoot tr td {
/*padding: .1em .6em;*/

	

}
tfoot tr th {
	border-top: solid 1px #326e87;
}
tfoot tr td {
	text-align: right;
}
/*-------------------Dashboard------------------------*/

.dashBox1 {
	display:block;
	width:400px;
	border-right: 1px solid #939393;
	border-bottom: 1px solid #939393;
	padding:15px;
	float:left;
}
.dataBox {
	float:left;
	width:220px;
	position:relative;
}
.graph {
	float:left;
	padding-left:20px;
}
h2 {
	font-size:20px;
	color:#333;
	float:left;
	font-weight:bold;
	padding-bottom:25px;
	position:relative;
}
h3{
	font-size:12px;
	color:#333;
	float:left;
	font-weight:bold;
	}
h4{
	font-size:12px;
	color:#333;
	float:left;
	color:#900;
	font-weight:bold;
	}
.dashBox2 {
	display:block;
	width:400px;
	float:left;
	border-bottom: 1px solid #939393;
	padding:15px;
}
.dashBox3 {
	display:block;
	width:400px;
	border-right: 1px solid #939393;
	padding:15px;
	float:left;
}
.dashBox4 {
	display:block;
	width:400px;
	padding:15px;
	float:left;
}